@import './variaveis';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: $fonte-primaria;
    background: $body-bg;
    color: $body-color
}

h1, h2, legend, button {
    font-family: $fonte-primaria;
}