//FONTES
$fonte-primaria: 'Arima Madurai', cursive;
$fonte-secundaria: 'sans-serif', cursive;

//CORES
$body-bg: #DBE2EF;
$body-color: #3F72AF;
$random-bg:#3e4b81ab;
$button-hover: #5666ad;
$branco-primario: #FFFFFF;
$header-bg: #112D4E;
$bg: #FAFAFC;
$border: #E6E6F0;
$legend-color: #1B262C;
$footer-bg: #3d4770ab;
$footer-color: #a5aedf;