@import '../abstract/variaveis';

header{
    color: $branco-primario;
    height: 360px;
    background: $header-bg;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    h1{
        font-style: normal;
        font-size: 36px;
        line-height: 45px;
        font-weight: bold;
    }
    p{
        font-style: normal;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}

#form-header{
    width: 750px;
    height: 133px;
    background: $random-bg;
    border-radius: 20px 20px 0px 0px;
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    h2{
        font-size: 24px;
        line-height: 34px;
    }
}